<div class="me-section">
  <div class="section-name col">
    <h1>{{ me?.name ?? "name" }}</h1>
  </div>
  <div *ngIf="me" class="titles-container">
    <div *ngFor="let title of me.titles" class="titles-item">
      <h2>{{ title }}</h2>
    </div>
  </div>
  <div class="row contact-container" *ngIf="me">
    <div class="col-6" *ngIf="me.email">
      <div class="d-flex align-items-center">
        <i class="bi bi-envelope"></i>
        <span class="ms-2">{{ me.email }}</span>
      </div>
    </div>
    <div class="col-6" *ngIf="me.phone">
      <div class="d-flex align-items-center">
        <i class="bi bi-telephone"></i>
        <span class="ms-2">{{ me.phone }}</span>
      </div>
    </div>
    <div class="col-6 mt-2" *ngIf="me.github">
      <div class="d-flex align-items-center">
        <i class="bi bi-github"></i>
        <a class="ms-2" [href]="me.github" target="_blank">
          <span>{{ me.github }}</span>
        </a>
      </div>
    </div>
    <div class="col-6 mt-2" *ngIf="me.linkedin">
      <div class="d-flex align-items-center">
        <i class="bi bi-linkedin"></i>
        <a class="ms-2" [href]="me.linkedin" target="_blank">
          <span>{{ me.linkedin }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
