<div class="section-name col">
    <h1>{{me?.name ?? 'name'}}</h1>
</div>
<div class="row align-items-start">
    <div></div>
</div>
<div class="row align-items-start">    
    <div  class="col">
        <i class="bi bi-envelope"></i>
        <span>
            {{me?.email ?? 'teste'}}
        </span>
    </div>
    <div class="col">
        <i class="bi bi-telephone"></i>
        <span>
            {{me?.email ?? 'teste'}}
        </span>
    </div>
    <div class="col">
        <i class="bi bi-geo-alt"></i>
        <span>
            {{me?.email ?? 'teste'}}
        </span>
    </div>
    <div class="col">
        <i class="bi bi-linkedin"></i>
        <span>
            {{me?.email ?? 'teste'}}s        
        </span>
    </div>
</div>
