<body>
  <div class="page" size="A4">
    <div class="resume-container">
      <app-header [me]="me"></app-header>

      <div class="row resume-section">
        <app-summary [summary]="summary"></app-summary>
      </div>

      <div class="row resume-section">
        <app-experience [experience]="experience"></app-experience>
      </div>
    </div>
  </div>

  <div class="page" size="A4">
    <div class="resume-container">
      <div class="row resume-section">
        <app-experience [experience]="experience2"></app-experience>
      </div>

      <div class="row resume-section">
        <app-education [education]="education"></app-education>
      </div>

      <div class="row resume-section">
        <app-skills [skills]="skills"></app-skills>
      </div>

      <div class="row resume-section">
        <app-languages [languages]="languages"></app-languages>
      </div>
    </div>
  </div>
</body>
